.border {
  border: 5px solid red;
}

#background {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(189, 243, 252, 1) 100%);
}

#main {
  margin: 85px 209px;
}

.titles {
  float: right;
}

#title {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
}

#japanese-title {
  font-family: "Kosugi Maru", sans-serif;
  text-align: right;
  margin-top: 5px;
}

#img-div {
  clear: both;
  width: 526px;
}

#image {
  border-radius: 10px;
  width: 100%;
}

#img-caption {
  font-size: 14px;
  text-align: center;
  font-family: sans-serif;
}

.info-box {
  background-color: #ff78a1;
  border-radius: 30px;
  float: right;
  width: 306px;
}

#tribute-info {
  font-family: sans-serif;
  font-size: 18px;
  padding: 5px 5px 5px 5px;
}
